@using AutoPortal.Models
@using PagedList.Mvc
@model PagedList.IPagedList<Korisnik>
@{
    AjaxOptions ajaxOp = new AjaxOptions()
    {
        UpdateTargetId = "popisKorisnika",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "GET",
        OnBegin = "LoadingRow"
    };
}

<div id="popisKorisnika">
    <table id="korisnik" class="table table-striped table-responsive">
        <thead>
            <tr>
                <th>
                    @Ajax.ActionLink("Korisnicko ime", "PretrazivanjePartial",
                        new { KorisnickoIme = ViewBag.KorisnickoIme, Email = ViewBag.Email, Ime = ViewBag.Ime, Prezime = ViewBag.Prezime, Naziv = ViewBag.Naziv, sort = ViewBag.KorisnickoImeSort }, ajaxOp)
                </th>
                <th>
                    @Ajax.ActionLink("Email", "PretrazivanjePartial",
                        new { KorisnickoIme = ViewBag.KorisnickoIme, Email = ViewBag.Email, Ime = ViewBag.Ime, Prezime = ViewBag.Prezime, Naziv = ViewBag.Naziv, sort = ViewBag.EmailSort }, ajaxOp)
                </th>
                <th>
                    @Ajax.ActionLink("Ime", "PretrazivanjePartial",
                        new { KorisnickoIme = ViewBag.KorisnickoIme, Email = ViewBag.Email, Ime = ViewBag.Ime, Prezime = ViewBag.Prezime, Naziv = ViewBag.Naziv, sort = ViewBag.ImeSort }, ajaxOp)
                </th>
                <th>
                    @Ajax.ActionLink("Prezime", "PretrazivanjePartial",
                        new { KorisnickoIme = ViewBag.KorisnickoIme, Email = ViewBag.Email, Ime = ViewBag.Ime, Prezime = ViewBag.Prezime, Naziv = ViewBag.Naziv, sort = ViewBag.PrezimeSort }, ajaxOp)
                </th>
                <th>Ovlast</th>
                <th>Obriši</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Any())
            {
                foreach (var kor in Model)
                {
                    <tr>
                        <td>@kor.KorisnickoIme</td>
                        <td>@kor.Email</td>
                        <td>@kor.Ime</td>
                        <td>@kor.Prezime</td>
                        <td>@(kor.Ovlast?.Naziv)</td>
                        <td>
                            @Html.ActionLink("Obriši", "Brisi", new { id = kor.KorisnickoIme }, new
                            {
                                @class = "btn btn-danger",
                                @id = "KorisnikDelete",
                                @data_url = Url.Action("Brisi", "Korisnik", new { id = kor.KorisnickoIme })
                            })
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="12" style="text-align:center">Nema rezultata pretrage</td>
                </tr>
            }
        </tbody>
    </table>

    <div id="pager">
        Ukupno rezultata: @Model.TotalItemCount <br />

        Stranica @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) od @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("PretrazivanjePartial",
            new { page, KorisnickoIme = ViewBag.KorisnickoIme, Email = ViewBag.Email, Ime = ViewBag.Ime, Prezime = ViewBag.Prezime, Naziv = ViewBag.Naziv, sort = ViewBag.Sortiranje }),
            PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(ajaxOp))
    </div>
</div>